.settingsContainer {
  margin-left: 40px;
  position: relative;
  z-index: 1;
}
.settingsContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.settingsContainer p {
  font-size: 25px;
  font-weight: 600;
}
.inputGroup input {
  width: 415px;
  height: 50px;
  box-sizing: border-box;
  border: 1.5px solid #d0d0d0;
  border-radius: 11px;
  font-size: 17px;
  padding-left: 35px;
  padding-right: 43px;
}
.Icon1 {
  z-index: 2;
  position: absolute;
  margin-top: 10px;
  left: 1.5%;
  color: #828282;
}
.Icon2,
.eyeOffIcon1,
.eyeOnIcon1 {
  z-index: 2;
  position: absolute;
  margin-top: 11px;
  left: 1.5%;
  color: #828282;
}
.Icon3,
.eyeOffIcon2,
.eyeOnIcon2 {
  z-index: 2;
  position: absolute;
  margin-top: 11px;
  left: 1.5%;
  color: #828282;
}
.eyeOffIcon1,
.eyeOnIcon1 {
  left: 91%;
}
.eyeOffIcon2,
.eyeOnIcon2 {
  left: 91%;
}
.updateBtn {
  background-color: #17a2b8;
  width: 415px;
  height: 44px;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  color: white;
  margin-top: 15px;
}
