.dashboardContainer {
  width: 84vw;
  padding: 10px;
  overflow: hidden;
}
.dashboardContainer p {
  font-family: var(--poppins);
}
.date {
  display: flex;
  justify-content: end;
  align-items: end;
  color: #707070;
  font-size: 16px;
  font-family: var(--poppins);
}
.dropDown {
  font-weight: 500;
  font-family: var(--poppins);
  cursor: pointer;
}
.dropDown img {
  margin-left: 5px;
}
.dropDownList {
  background-color: white;
  cursor: pointer;
  position: absolute;
  top: 17.1%;
  left: 89%;
  width: 100px;
  border-radius: 7px;
  padding: 10px;
  font-size: 15px;
  font-family: var(--poppins);
  font-weight: 500;
  box-shadow: 0px 2px 22px rgba(126, 122, 122, 0.25);
}
.dropDownList div:hover {
  background-color: aliceblue;
}
.cardsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.cardBox {
  background-color: #f1f7fd;
  min-width: 29%;
  height: 75vh;
  margin-bottom: 15px;
  border-radius: 7px;
}
.cardBoxGroup {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar-thumb {
  background: #9cb7c5;
  border-radius: 15px;
}
