@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.card {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  font-family: var(--poppins);
  position: relative;
}
.cardGroup {
  display: flex;
  justify-content: space-between;
}
.checklist {
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.menu {
  position: absolute;
  top: 20%;
  left: 60%;
  width: 90px;
  background-color: white;
  box-shadow: 0px 2px 22px rgba(126, 122, 122, 0.25);
  font-size: small;
  font-weight: 500;
  border-radius: 7px;
  padding: 7px;
  cursor: pointer;
}
.btnGroup {
  display: flex;
  font-size: 10px;
  font-weight: 500;
  gap: 5px;
}
.btnGroup div {
  background-color: #eeecec;
  border-radius: 5px;
  padding: 4px;
}
/* TODO */
.taskItem {
  padding: 7px;
  border: 2px solid #e2e2e2;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
}
.card::-webkit-scrollbar-thumb {
  width: 5px;
}
